<div class="container mt-5"> 
  <form>
    <div class="input-group">
      <input type="text" id="taskName" name="taskName" placeholder="Add a task" class="form-control" [(ngModel)]="newTask.title">
      <button type="submit" class="btn btn-primary" (click)="addTask()">Add</button>
    </div>
  </form>
  <div class="row">
    <div class="col-md-6" >
      
    <h2 class="mx-auto text-center my-3">To Do List</h2>
    <hr>
      <ul class="list-group">
        <li  class="list-group-item"  *ngFor="let task of tasks" [ngClass]="{'text-decoration': task.done}">
          <input class="form-check-input ms-3" type="checkbox" value="" [(ngModel)]="task.done" (change)="updatecheckedList(task)">
          {{ task.title }}
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      
      <h2 class="my-3">Done Tasks</h2>
      <hr>
      <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action active" *ngFor="let task of checkedList">
        <div class="badge bg-primary rounded-pill">{{ task.title }}</div>
      </a>
    </div>
  </div>
  </div> 
</div>

  